@{
    ViewBag.Title = "Pagina principal";
}

<div class="jumbotron">
    <h1>SEDES OLIMPICAS</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SEDES</h2>
        
    </div>
    <div class="col-md-4">
        <h2>COMPLEJOS</h2>
        
    </div>
    <div class="col-md-4">
        <h2>EVENTOS</h2>
        
    </div>
</div>